.height{
    height: calc(100vh - 100px);
    width: 100%;
    overflow: auto;
    :global {
        .ant-table-cell-with-append{
            span{
                margin-right: 6px;
            }
        }
}
}

.inputwidth{
    width: 200px;
    min-width: 180px;
   
}