.userInfo {
    background-color: var(background-color);

    :global {
        .ant-tree-node-selected {
            color: var(--color-primary) !important;
        }
        .ant-tree-treenode-selected {
            .ant-tree-switcher-icon {
                color: var(--color-primary) !important;
            }
        }

    }

}

.bgHeight {
    height:calc(100vh - 72px) !important;
    width: 100%;
}