.userInfo {
    background-color: var(background-color);
    font-weight: 300;
    :global {
        .ant-tree-node-selected {
            color: var(--color-primary) !important;
        }

        .ant-tree-treenode-selected {
            .ant-tree-switcher-icon {
                color: var(--color-primary) !important;
            }
        }
        .ant-table-thead > tr > th {
            border-left: none !important; 
          }
        .ant-tree{
            color: var( --color-text-3) !important;
            font-size: small !important;
            font-family: var(--font-family) !important;
        }
    }
}

.bgHeight {
    height: calc(100vh - 88px) !important;
    overflow: auto;
    width: 100%;
}

.bgColor {
    background-color: var(--color-bg);
    border-radius: 6px;
}
.removeSingleChoiceInterval{
    :global{
        
        .ant-radio-wrapper{
            flex:0.4 !important;
            justify-content: flex-start !important;
        }
        
        
    }
}
